
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    <meta name="robots" content="index, follow">

{{ if .Site.Params.opengraph }}
  {{ range $key, $val := .Site.Params.opengraph }}
    <meta href="og:{{ $key }}" content="{{ $val }}" />
  {{ end }}

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Christopher Isene" />
    <meta property="og:description" content="Here, now and present" />
    <meta property="og:url" content="{{ baseURL }}" />
    <meta property="og:site_name" content="Christopher Isene" />
    <meta property="og:image" content="{{ baseURL }}/images/christopher-isene-20140906.jpg" />
    <meta property="og:image:width" content="960" />
    <meta property="og:image:height" content="960" />
    <meta property="og:image:alt" content="" />
    <meta property="og:locale" content="en_US" />
{{ end }}

    <link rel="stylesheet" href="{{ baseURL . "/css/style.css" }}">
    <link rel="shortcut icon" href="{{ baseURL . "/images/favicon.ico" }}" type="image/x-icon" />

    <link rel="canonical" itemProp="url" href="{{ baseURL }}">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ baseURL }}/sitemap.xml">