<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Christopher Isene",
    "url": "https://christopherisene.se/",
    "sameAs": [
      "https://codeberg.org/cisene",
      "https://foursquare.com/cisene",
      "https://github.com/cisene",
      "https://keybase.io/cisene"
      "https://last.fm/user/kakbit",
      "https://libre.fm/user/cisene",
      "https://line.me/ti/p/93RGZ_RSIZ",
      "https://loops.video/@cisene",
      "https://mastodon.social/@cisene",
      "https://pixelfed.social/@cisene",
      "https://podcastindex.social/@cisene",
      "https://threema.id/Z72CCN9P",
      "https://www.discogs.com/user/cisene",
      "https://www.kiva.org/lender/cisene",
      "https://www.linkedin.com/in/christopherisene",
    ]
  }
</script>


