<script type="application/ld+json">
  {
    "@context":"https://schema.org",
    "@type":"BreadcrumbList",
    "itemListElement":[
      {
        "@type":"ListItem",
        "position":1,
        "item":{
          "@id":"https://b19.se/swish-katalogen/",
          "name":"Hem"
        }
      },
      {
        "@type":"ListItem",
        "position":2,
        "item":{
          "@id":"https://b19.se/swish-katalogen/k/",
          "name":"Kategorier"
        }
      },
      {
        "@type":"ListItem",
        "position":3,
        "item":{
          "@id":"https://b19.se/swish-katalogen/s/",
          "name":"S\u00f6k"
        }
      },
      {
        "@type":"ListItem",
        "position":4,
        "item":{
          "@id":"https://b19.se/swish-katalogen/o/",
          "name":"Organisationer"
        }
      }
    ]
  }
</script>
